<p id="notice"><%= notice %></p>
<br>
<%= @order.title %>
<br>
<%= @order.payed %>
<br>
<%- if !@order.payed %>
  <%=liqpay_button @liqpay_request, title: "Pay now!" %>
<%- else %>
  already paid
<%- end %>
<br><br>
<%= link_to 'Back', orders_path %>
